<div class="container py-5">    
    <div class="row">        
        <div class="col-auto mx-auto ">
            <div class="col-auto my-1">
                <app-screen></app-screen>
            </div>
            <div class="btn-group-vertical mx-4 my-2" role="group">
                <div class="btn-group btn-group-lg">
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary border-bottom-0 rounded-0" value="1"></app-key>
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary border-bottom-0" value="2"></app-key>
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary border-bottom-0 rounded-0" value="3" ></app-key>
                </div>
                <div class="btn-group btn-group-lg">
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary border-bottom-0 rounded-0" value="4"></app-key>
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary border-bottom-0" value="5"></app-key>
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary border-bottom-0 rounded-0" value="6"></app-key>
                </div>
                <div class="btn-group btn-group-lg">
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary rounded-0" value="7"></app-key>
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary" value="8"></app-key>
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary rounded-0" value="9"></app-key>
                </div>
                <div class="btn-group btn-group-lg">
                    <app-key action="clear" [active]="0" myClass="btn btn-outline-secondary rounded-0" value="C"></app-key>
                    <app-key action="click" [active]="keyMap" myClass="btn btn-outline-secondary" value="0"></app-key>
                    <app-key action="clear" [active]="10" myClass="btn btn-outline-secondary rounded-0" value="D"></app-key>
                </div>
            </div>
        </div>
    </div>
</div>
